- page_title s_('Onboarding|Set up your profile')

.gl-flex.gl-flex-col.gl-items-center.gl-w-full.gl-px-5.gl-pb-5
  .gl-flex.gl-flex-col.gl-items-center.gl-w-full
    %h2.gl-text-center= s_('Onboarding|Set up your profile')
